{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>Background</h2>
            <p>
                Thorin and Company was an organization led by Thorin Oakenshield and created by Gandalf the Grey. 
                They were initially thirteen Dwarves, all but three part of the Line of Durin. However, they were later joined by the Hobbit Bilbo Baggins. 
                They succeeded in their quest in reclaiming Erebor from the dragon Smaug and fought alongside the Dwarves of the Iron Hills against Azog's and Sauron's forces. 
                However only ten survived the Battle of the Five Armies, with Thorin and his nephews Fíli and Kíli falling in battle.
            </p>
        </div>
    </div>
{% endblock %}
